.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
img {
    float: left;
    width: 450px;
    margin-right: 50px;
}
.identity {
    font-size: 30px;
    display: flex;
    flex-flow: column nowrap;
    background-color: tan;
    flex:3
}
.identity2 {
    border: 1px solid black;
    flex: 1;
    padding-left: 20px;
}
.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.girditems {
    border: 5px solid green;
    padding: 0 20px;
    margin: 1px;
}
h2 {
    text-align: center;
}
p {
    font-size: 20px;
}